.open-sans-mystyle {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 75;
  }

h1 {
    font-family: "Open Sans", sans-serif;
}

.header {
    background-color: #F3F1F7;
    text-align: center;
    margin: 0;
    padding: 0%;
}